$background-color: rgb( 225, 198, 153 );
$text-color: rgb( 179, 146, 131 );

body {
  color: $text-color;
  background: $background-color;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-left: 10%;

  h1 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h2 {
    color: rgb( 106, 125, 142 );
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    color: rgb( 106, 125, 142 );
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    color: $text-color;
    padding-right: 50px;
  }

  ul {
      text-align: center;
      list-style-position: inside;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: rgb( 106, 125, 142 );
    }
  }

  img {
    border-radius: 100%;
  }
}
