body {
  color: #b39283;
  background: #e1c699;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  padding-top: 20px;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-left: 10%; }
  body h1 {
    color: #b39283;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: #6a7d8e;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #6a7d8e;
    margin-top: 30px;
    margin-bottom: 30px; }
  body p {
    color: #b39283;
    padding-right: 50px; }
  body ul {
    text-align: center;
    list-style-position: inside; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #6a7d8e; }
  body img {
    border-radius: 100%; }
